{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero Section with dynamic images -->
    <div class="hero-section position-relative">
        <div class="hero-images">
            {% if hero_images %}
                {% for image in hero_images %}
                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                {% endfor %}
            {% else %}
                <img src="{% static 'hero_images/sunglasses-1.webp' %}" alt="Default Image">
            {% endif %}
        </div>

        <!-- Content over the Hero Section -->
        <div class="container h-100 overlay-content d-flex align-items-center">
            <div class="row w-100">
                <div class="col-12 my-auto text-center text-white">
                    <h1 class="display-4 logo-font">Discover Our Latest Collection</h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}
