{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center" 
     style="min-height: 60vh; padding: 50px 15px; text-align: center;">


  <h1 id="fourhf" class="logo-font" style="font-size: 5rem; color: #333;">
    404
  </h1>
  <p style="margin-bottom: 20px;">
    Oops! The page you’re looking for doesn’t exist or is unavailable.
  </p>

  <!-- Navigation options -->
  <a class="btn btn-black mb-2" href="{% url 'home' %}">
    Go to Homepage
  </a>

  
  <a class="btn btn-outline-black" href="{% url 'products' %}">
    Browse Products
  </a>
</div>
{% endblock %}